@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Fonts  */

/* Poppins */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Poppins/Poppins-Medium.ttf") format("ttf");
}

/* Orbitron */
@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Orbitron/Orbitron-SemiBold.ttf") format("ttf");
}

/* Optional: default font stacks */
body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
}
